body
{
   width: 100%;
   Height: 100%;
}
  .back {
    background: #F5F5F5;
    width: 100%;
  }
  
  .div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    display: table;
  }
  
  div.content {
    width: 300px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
  }